.bug-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}


.bug-preview,
.bug-details,
.bug-edit {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    font-size: 1.1em;
    background-color: whitesmoke;
    color: #8b8b8b;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    width: 200px;
    height: fit-content;
    border: 0.2px solid #d8d8d8;
}


